apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: <YOUR_ECR_OR_REGISTRY_IMAGE>:<TAG>
          ports:
            - containerPort: 3000

